@charset "UTF-8";

.sidebar {
	position: fixed;;
	top: 0;
	margin-right: 200px;
	width: 250px;
	height: 100vh;
	background-color: #273F4F;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	padding: 20px 10px;
}

.logo {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.logo img {
	height: 100px; /* Adjust logo size */
}

.sidebar a {
    text-decoration: none;     /* removes underline */
    color: white;              /* makes it look like normal text */
    display: flex;             /* makes icon + text line up */
    align-items: center;
    gap: 10px;                 /* space between icon and text */
    width: 100%;
}

.sidebar a:hover {
    color: #007bff;            /* optional: blue on hover */
}

.sidebar ul {
	list-style: none;
}

.sidebar ul li {
	padding: 15px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}

.sidebar ul li:hover {
	background-color: rgb(0, 0, 0);
	border-radius: 5px;
}

.sidebar-button {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.sidebar-button:hover {
    color: #007bff;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}





