
@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	display: flex;
	background-color: white;
}


.dashboard-main {
	margin-left: 250px;
	flex: 1;
}

.dashboard-topbar {
	background-color: #273F4F;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input {
	padding: 5px 10px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.user-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.user-info a{
	text-decoration: none;    
    color: white;             
    display: flex;            
    align-items: center;
    gap: 10px;                
    width: 100%;
}

.user-info a:hover {
	color: #007bff;
}



.dashboard-section {
	background-color: white;
	padding: 20px;
}

.dashboard-section h2 {
	margin-bottom: 20px;
}

.cards {
	display: flex;
	gap: 20px;
}

.card {
	background-color: #273F4F;
	color: white;
	padding: 20px;
	border-radius: 10px;
	flex: 1;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.card h3 {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.pie-section {
	margin-bottom: 20px;
}

.pie-section h2 {
	margin-bottom: 20px;
	margin-left: 20px;
}


.pie-chart {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.pie-chart img {
	width: 300px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}







